<!--
    Titulo del form
-->
<div mat-dialog-content>
    <p>ACTUALIZAR OFERTA</p>
</div>
<!--
    Formulario para agregar una nueva oferta
-->
<form [formGroup]="form_actualizarOferta" #frmOferta="ngForm" class="form-inline">
    <div class="campo_texto">
        <mat-form-field appearance="outline" class="tamano">
            <input ngModel matInput placeholder="Televisor" formControlName="name" />
        </mat-form-field>
    </div>
    <div class="campo_texto">
        <mat-form-field appearance="outline" class="tamano">
            <input ngModel matInput placeholder="De 32 pulgadas con Android" formControlName="description" />
        </mat-form-field>
    </div>
    <div class="campo_texto">
        <mat-form-field appearance="outline" class="tamano">
            <input ngModel matInput type="number" placeholder="5000000" formControlName="price_value" />
        </mat-form-field>
    </div>
    <!--Boton para cancelar el dialog-->
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <!--Boton para enviar lo que tiene el formulario-->
    <button type="submit" mat-raised-button [disabled]="frmOferta.invalid" 
    [mat-dialog-close]="true" (click)="actualizarOferta()" cdkFocusInitial>Editar Oferta</button>
</form>